*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}
@font-face {
  font-family: "Boogaloo";
  src: local("Boogaloo"), url("../font/Boogaloo-Regular.ttf") format("ttf");
}
@font-face {
  font-family: "ABeeZee";
  src: local("ABeeZee"), url("../font/ABeeZee-Regular.ttf") format("ttf");
}
body {
  font-family: "Boogaloo";
  background-color: #d9d9d9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Logo {
  max-width: 8vw;
}
.title {
  font-size: 3.5vw;
  color: #161616;
}
.nightMood {
  width: 8vw;
  height: 3vw;
  border-radius: 60px;
  background-color: #092327;
  margin-left: 3%;
}
.moon {
  width: 50%;
  position: relative;
  margin-top: -13%;
  margin-left: 51%;
  filter: drop-shadow(0px 0px 3px #c6c6c6);
}
.line {
  width: 80%;
  height: 0.3vmax;
  margin-right: auto;
  margin-left: auto;
  border-radius: 10pt;
  background-color: #284b63;
}
.box {
  width: 95vw;
  height: 70vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box1 {
  width: 29%;
  height: 100%;
  background-color: #90c2e7;
  border-radius: 18px;
  display: flex;
  align-items: center;
}
.text {
  width: 50%;
  font-size: 4vw;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: #0B5351;
}
.box2 {
  width: 69%;
  height: 100%;
  border: 0.3vmax solid #3c6e71;
  border-radius: 18px;
  display: flex;
  align-items: center;
}
.pulsIcon {
  width: 12vw;
  margin-left: auto;
  margin-right: auto;
}
.footer {
  font-family: "ABeeZee";
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  margin-left: 1.5px;
  margin-right: 1.5px;
  margin-bottom: 1.5px;
}
