*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  cursor: default;
}
:root {
  --bgColor: #d9d9d9;
  --title-Color: #161616;
  --night-Mode-Color: #092327;
  --line-Color: #284b63;
  --box-1-Color: #90c2e7;
  --text-Color: #0b5351;
  --box-2-border-Color: #3c6e71;
}

@font-face {
  font-family: "Boogaloo";
  src: local("Boogaloo"), url("../font/Boogaloo-Regular.ttf") format("ttf");
}
@font-face {
  font-family: "ABeeZee";
  src: local("ABeeZee"), url("../font/ABeeZee-Regular.ttf") format("ttf");
}
body {
  font-family: "Boogaloo";
  background-color: var(--bgColor);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Logo {
  max-width: 8vw;
}
.title {
  font-size: 3.5vw;
  color: var(--title-Color);
}
.nightMood {
  width: 8vw;
  height: 3vw;
  border-radius: 60px;
  background-color: var(--night-Mode-Color);
  margin-left: 3%;
}
@keyframes rotateMoon {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.moon {
  animation: rotateMoon 5s linear infinite;
}
.moon {
  width: 50%;
  position: relative;
  margin-top: -13%;
  margin-left: 51%;
  filter: drop-shadow(0px 0px 3px #c6c6c6);
  transition: all 80ms linear 90ms;
}
.line {
  width: 80%;
  height: 0.3vmax;
  margin-right: auto;
  margin-left: auto;
  border-radius: 10pt;
  background-color: var(--line-Color);
}
.box {
  width: 95vw;
  height: 70vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box1 {
  width: 29%;
  height: 100%;
  background-color: var(--box-1-Color);
  border-radius: 7% 93% 9% 91% / 89% 6% 94% 11%;
  display: flex;
  align-items: center;
}
.text {
  width: 50%;
  font-size: 4vw;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: var(--text-Color);
}
.box2 {
  width: 69%;
  height: 100%;
  border: 0.3vmax solid var(--box-2-border-Color);
  border-radius: 18px;
  padding: 30px 25px 25px 25px;
}
.plusButton {
  background-color: #ffffff00;
  border-radius: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: calc(46vh - 50%);
}
.plusIcon {
  width: 12vw;
  transition: all 80ms linear 90ms;
}
.plusIcon:hover {
  transform: scale(1.1);
  filter: drop-shadow(6px 5px 7px #162a2b);
}
.inputs-lists {
  display: none;
  width: 100%;
}
.form-section {
}
.inputs {
  padding: 5px 5px 5px 8px;
  font-family: inherit;
  width: 25%;
  height: 6vh;
  font-size: 23px;
  border-radius: 8px;
  color: var(--title-Color);
}
.inputs::placeholder{
  color: var(--bgColor);
}
.inputs::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.course-name {
}
.unit {
}
.score {
}

.footer {
  font-family: "ABeeZee";
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  margin-left: 1.5px;
  margin-right: 1.5px;
  margin-bottom: 1.5px;
}
